body {
  background-color: rgb(180, 144, 72);
  margin: 0px;
  padding: 0px;
  /* disable scroll */
  height: 100%;
  overflow: hidden;
}

canvas, img {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  /* works for chrome borwser */
  -ms-interpolation-mode: nearest-neighbor;
}

canvas {
  border-style: solid;
  border-width: 3;
  border-color: rgb(150, 100, 30);
}
